@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

.project-card {
    margin: 2rem 2rem 2rem 0;
    padding: 0rem;
    padding-bottom: 0.5rem;
    width: 18rem;
    box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
    transition: transform .3s ease;
    cursor: pointer;
    background-color: #FFFFFF;
    border-radius: 10px;

}

.card:hover {
    transform: scale(1.1);
}

.card-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 1.2rem;
    color: #2C3F50;
}

.card-desc {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: .95rem;
    color: #2C3F50;

}

.card-tags {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.7rem;
    background: #3297DB;
    border-radius: 5px;
}

.card-button {
    background-color: #2C3F50;
    color: #ECF0F1;
    border-radius: 10px;
    width: 8rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 350;
    font-size: .9rem;
    border: none;
}

.card-button:hover {
    color: #ECF0F1;
    background-color: #E84C3D;
    border-radius: 10px;
    width: 8rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 350;
    font-size: .9rem;
    border: none;
}

.card-image {
    height: 125px;
    width: 286px;
    display: flex;
    justify-content: flex-end;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;


}