.app {
    background-color: #2C3F50;
}

.app-body {
    padding: 4rem;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.nav-bar {
    background-image: linear-gradient(to right, #3297DB, #0D4D78)
}

.nav-brand {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    color: #ECF0F1;

}

.search-box {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    outline: none;
    width: 40%;
    height: 2.5rem;
    font-size: 1rem;
    padding: .5rem;
    border-radius: .5rem;
}

.filter-box {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    outline: none;
    width: 40%;
    font-size: 1rem;
    padding: .5rem;
    font-size: 1rem;
    border-radius: .5rem;
}